* {
  box-sizing: border-box;
}

html,
body,
#here {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url('./img/jungle.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
